#won, #lost{
  display: none;
}

h1{
  color: blueviolet;
  font-size: 4em;
  margin-bottom 0px;
}

h1{
  color: blueviolet;
  font-size: 4em;
  margin-bottom 0px;
}

#word, #letters{
  padding: 20px 0px;
}

#man{
  margin: 20px auto;
  width: 600px;
  height: 600px;
  border: dotted;
  border-radius: 5px;
  border-width: 3px;
}

#word{
  font-size: 3em;
}

.hint{
  font-size: 0.6em !important;
}

.btn{
  padding:7px 7px !important;
  margin: 0px 2px;
}